        /* Global styles, layout, and additional formatting */
        body, html {
            height: 100%;
            margin: 0;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            color: #333;
            background-color: #fff;
        }

/* Enhanced Number Styling */
.highlighted-number {
    font-size: 3rem;  /* Large font for visual impact */
    background: linear-gradient(90deg, rgba(29,78,216,1) 0%, rgba(37,99,235,1) 50%, rgba(79,70,229,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);  /* Subtle shadow for depth */
    font-weight: bold;
    display: inline-block;
    width: 150px;  /* Fixed width to ensure separation */
    text-align: right;
    margin-right: 20px;
}

/* Layout for the number and its description */
.number-section {
    display: flex;
    align-items: center;  /* Align items in the center vertically */
    margin-bottom: 10px;  /* Add spacing between each item */
}

.number-description {
    text-align: left;
    flex: 1;  /* Make the description take up the remaining space */
}

/* Join the Club Button with White Background */
.join-club-btn {
    background-color: white;
    color: #000;
    border: 2px solid #000;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.join-club-btn:hover {
    background-color: #000;
    color: white;
}
        
        /* Navigation Bar */
        .navbar {
            background-color: #fff;
            padding: 0.5rem 1rem;
            border-bottom: 1px solid #eaeaea;
        }

        .navbar-brand {
            font-size: 1.25rem;
            color: #000;
            font-weight: bold;
            margin-right: 1.5rem;
        }

        .navbar-nav {
            margin-left: 0;
        }

        .nav-link {
            color: #000 !important;
            font-size: 1rem;
            margin-right: 1rem;
            padding: 0.5rem 0;
        }

        .nav-link:hover {
            color: #555 !important;
        }

        .right-links {
            margin-left: auto;
            display: flex;
            align-items: center;
        }

        .container {
            max-width: 1200px;
            padding-top: 20px;
            flex: 1;
        }

        .footer {
            background-color: #f8f9fa;
            color: #333;
            padding: 1rem 0;
            text-align: center;
        }

        .footer p {
            color: #333;
            margin: 0;
        }

/* Image Section */
.image-section {
    position: relative;
    background-image: url('https://raw.githubusercontent.com/maxime0010/investments_app/main/templates/images/One-World-superJumbo.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Reduced height */
    width: 100%;
    margin-bottom: 2rem;
}

/* Responsive font size and padding for overlay-text */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px; /* Adjusted padding */
    text-align: center;
    z-index: 2;
}

.overlay-text h2 {
    font-size: 1.5rem; /* Smaller font size for mobile */
    line-height: 1.4; /* Improved line height for better readability */
    word-wrap: break-word; /* Force text to wrap if it's too long */
    padding: 1px; /* Ensure some padding around the text */
}

        
        .text-section-image {
            margin-top: 20px;
        }

        .nav-link {
            color: #000 !important;
            font-size: 1rem;
            margin-right: 1rem;
            padding: 0.5rem 0;
        }
        .nav-link:hover {
            color: #555 !important;
        }
        .right-links {
            margin-left: auto;
            display: flex;
            align-items: center;
        }
        .container {
            max-width: 1200px;
            padding-top: 20px;
            flex: 1;
        }
        .footer {
            background-color: #f8f9fa;
            color: #333;
            padding: 1rem 0;
            text-align: center;
        }
        .footer p {
            color: #333;
            margin: 0;
        }

        /* Text Section */
        .text-section {
            max-width: 800px;
            margin: 0 auto;
            padding: 2rem 1rem;
            text-align: center;
        }

        .text-section h1 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        .text-section .btn {
            font-size: 1rem;
            padding: 0.8rem 2rem;
            background-color: #000;
            color: #fff;
            font-weight: bold;
            border: none;
            text-transform: uppercase;
            transition: background-color 0.3s ease, color 0.3s ease;
            text-decoration: none;
        }

        .text-section .btn:hover {
            background-color: #444;
            color: #fff;
        }

        /* Value Proposition and Other Sections */
        .value-proposition-section, .why-investment-club-section {
            background-color: #f8f9fa;
            padding: 3rem 1rem;
            width: 100%;
            margin: 0;
        }

        .value-proposition-section h2, .why-investment-club-section h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
            text-align: center;
        }

        .value-item {
            margin-bottom: 2rem;
            max-width: 800px;
            margin: 0 auto 2rem auto;
            text-align: left;
        }

        .value-item h4 {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        .value-item p {
            font-size: 1rem;
            margin: 0;
        }

        .why-investment-club-section p {
            font-size: 1.1rem;
            line-height: 1.6;
            margin-bottom: 1.5rem;
            text-align: justify;
        }

        /* Different background colors for indices labels */
        .badge-tag {
            padding: 0.3rem 0.6rem;
            border-radius: 12px;
            font-size: 0.85rem;
            margin-left: 0.5rem;
            display: inline-block;
        }

        .badge-tag:nth-child(1) {
            background-color: #007bff; /* Blue */
            color: #fff;
        }

        .badge-tag:nth-child(2) {
            background-color: #28a745; /* Green */
            color: #fff;
        }

        .badge-tag:nth-child(3) {
            background-color: #ffc107; /* Yellow */
            color: #fff;
        }

        .badge-tag:nth-child(4) {
            background-color: #dc3545; /* Red */
            color: #fff;
        }

        .badge-tag:nth-child(5) {
            background-color: #6f42c1; /* Purple */
            color: #fff;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }

        /* Fix for the ranking number */
        .ranking-number {
            font-size: 1.5rem;
            font-weight: bold;
            background-color: #000;
            color: #fff;
            padding: 0.5rem;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* Grey overlay instead of blur */
        .overlay-card {
            position: relative;
        }

        /* Grey overlay for non-member cards */
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Grey with 80% opacity */
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .overlay-content {
            color: white;
            font-size: 1.2rem;
            font-weight: bold;
            z-index: 2;
        }

        /* Card layout and spacing */
        .card {
            margin-bottom: 1.5rem;
            min-height: 300px;
            position: relative;
        }

        .card-body {
            position: relative;
            z-index: 2; /* Ensure content is above the overlay */
        }

        .card-footer {
            z-index: 2;
        }

        .card-img-top {
            object-fit: contain;
            max-height: 50px;
            width: auto;
            position: absolute;
            top: 15px;
            right: 15px;
        }

        /* Ensure the first card does not have the grey overlay */
        .overlay-card:first-child .overlay {
            display: none;
        }

/* Media queries for responsive design */
@media (max-width: 768px) {
    .image-section {
        height: 200px; /* Adjust height for small screens */
    }

    .overlay-text h2 {
        font-size: 1.2rem; /* Adjust font size for small screens */
    }

    .overlay-text {
        padding: 5px; /* Adjust padding for small screens */
    }
}

@media (max-width: 576px) {
    .overlay-text h2 {
        font-size: 1rem; /* Even smaller font size for extra-small screens */
    }
}
      

@media (max-width: 768px) {
    #annualizedReturnsChart {
        height: 300px;  /* Reduce height for mobile */
    }
}
@media (max-width: 576px) {
    #annualizedReturnsChart {
        height: 250px;  /* Further reduce height for very small screens */
    }
}

    .matrix-section {
        margin-top: 50px;
        text-align: center;
    }

    .matrix-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .matrix-y-axis {
        position: absolute;
        top: 50%;
        left: -120px;
        transform: translateY(-50%) rotate(-90deg);
        font-size: 16px;
        font-weight: bold;
        color: #555;
    }

    .matrix-x-axis {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #555;
    }

    .matrix-grid {
        display: flex;
        flex-direction: column;
        border: 2px solid #ddd;
        padding: 10px;
    }

    .matrix-row {
        display: flex;
    }

    .matrix-cell {
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #ddd;
        margin: 5px;
        background-color: #f8f8f8;
        text-align: center;
        font-size: 14px;
        color: #777;
    }

    .matrix-cell p {
        margin: 0;
        font-size: 14px;
    }

    .icon {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }

    /* Highlighted quadrant (top-right) */
    .highlighted {
        font-weight: bold;
        color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    /* Background color adjustments */
    .low-return.high-consensus { background-color: #d4edda; }  /* Light Green */
    .low-return.low-consensus { background-color: #f8d7da; }   /* Light Red */
    .high-return.low-consensus { background-color: #fff3cd; }  /* Light Yellow */
    .high-return.high-consensus { background-color: #28a745; } /* Highlighted Green */

    .matrix-container {
        position: relative;
    }
