{% extends "base.html" %}

{% block title %}Join the Club - Good Life{% endblock %}

{% block content %}

    <h1>Oops! Page Not Found </h1>
    <p>It looks like the page you're trying to visit doesn't exist.</p>
    <p>Don't worry, let's get you back on track:</p>
    
    <div class="important-links">
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/performance">Performance</a>
        <a href="/weekly_updates">Weekly Updates</a>
        <a href="/coverage">Coverage</a>
    </div>
    
    <p>If you need further assistance, feel free to <a href="mailto:hello@goodlife.money">contact us</a>.</p>


{% endblock %}

{% block scripts %}

{% endblock %}
