{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Forgot Password</h1>
    <form method="POST" action="{{ url_for('forgot_password') }}">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-dark mt-4">Reset Password</button>
    </form>
</div>
{% endblock %}
