{% extends "base.html" %}

{% block title %}Fund Account{% endblock %}

{% block content %}



    <div class="container">
        <h1>Fund Your Account</h1>
        <p>Account ID: {{ account_id }}</p>
<form method="POST">
    <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" id="amount" name="amount" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="direction" class="form-label">Transaction Type</label>
        <select id="direction" name="direction" class="form-control" required>
            <option value="INCOMING">Deposit</option>
            <option value="OUTGOING">Withdrawal</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </div>



{% endblock %}
