{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Last Price</th>
            <th>Expected Return (%)</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.ticker }}</td>
            <td>{{ stock.last_price }}</td>
            <td>{{ stock.expected_return }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
