{% extends "base.html" %}

{% block title %}Join Good Life Pro - Payment{% endblock %}

{% block content %}
<div class="container text-center my-5">
    <h1 class="display-4">Complete Your Payment</h1>
    <p class="lead mt-4">Unlock premium features and start making smarter investment decisions.</p>
<p>As a member, you will receive our exclusive weekly newsletter presenting the latest 10 top-performing stocks. You will have the opportunity to unsubscribe if you do not want to receive it.</p>
    <!-- Stripe checkout form -->
    <section>
        <form action="/create-checkout-session" method="POST">
            <!-- Add a hidden field with the lookup_key of your Price -->
            <input type="hidden" name="lookup_key" value="{{ stripe_lookup_key }}" />
            <button id="checkout-and-portal-button" type="submit" class="btn btn-primary btn-lg">Checkout</button>
        </form>
    </section>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
