{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">Portfolio Performance</h1>

    <canvas id="performanceChart" width="400" height="200"></canvas>
    <script>
        var ctx = document.getElementById('performanceChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ dates | default([]) | tojson }},
                datasets: [{
                    label: 'Portfolio Value',
                    data: {{ values | default([]) | tojson }},
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</div>
{% endblock %}
