{% extends "base.html" %}

{% block content %}
    <h1>Portfolio - Updated on {{ last_updated.strftime('%Y-%m-%d') }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock Name</th>
                <th>Last Price</th>
                <th>Target Price</th>
                <th>Expected Return</th>
                <th>Number of Analysts</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td><a href="{{ url_for('stock_detail', ticker=stock['ticker']) }}">{{ stock['name'] }}</a></td>
                <td>${{ stock['last_price'] | int }}</td>
                <td>${{ stock['target_price'] | int }}</td>
                <td>{{ stock['expected_return'] | int }}%</td>
                <td>{{ stock['num_analysts'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
