{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">

<h1>Your Profile</h1>

{% if subscription_status == 'active' %}
    <p>Your subscription is active.</p>
    <form action="/manage-subscription" method="POST">
        <button type="submit">Manage your subscription</button>
    </form>
{% elif subscription_status == 'inactive' or subscription_status == 'canceled' %}
    <p>Your subscription is inactive.</p>
    <form action="/subscribe" method="POST">
        <button type="submit">Subscribe now</button>
    </form>
{% else %}
    <p>Subscription status: {{ subscription_status }}</p>
    <form action="/subscribe" method="POST">
        <button type="submit">Subscribe now</button>
    </form>
{% endif %}

    
</div>
{% endblock %}
