{% extends "base.html" %}

{% block title %}Refund Policy{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Refund Policy</h1>
    <p>
        At Good Life, we stand behind our products and your satisfaction with them is important to us. However, because our products are digital goods delivered via Internet download, we generally offer no refunds.
    </p>
    <h2>1. Refunds</h2>
    <p>
        If you change your mind about your purchase and you have not yet downloaded our product, we will happily issue a refund upon your request.
    </p>
    <h2>2. Contact Us</h2>
    <p>
        If you have any questions about our refund policy, please contact us at hello@goodlife.money.
    </p>
</div>
{% endblock %}
