{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1>{{ ticker }} Analysts Overview</h1>
    <p><strong>Expected Return:</strong> {{ analysis_data.expected_return_combined_criteria }}%</p>
    <p><strong>Number of Analysts with Success Rate Above Median:</strong> {{ analysis_data.num_recent_analysts }}</p>
    <p><strong>Number of Analysts with Updates in the Last 30 Days:</strong> {{ analysis_data.num_high_success_analysts }}</p>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">Analyst</th>
                <th scope="col">Bank</th>
                <th scope="col">Price Target</th>
                <th scope="col">Last Update</th>
                <th scope="col">Expected Return</th>
                <th scope="col">Success Rate</th>
                <th scope="col">Updated in the Last 30 Days</th>
                <th scope="col">Analyst is Top Performer</th>
            </tr>
        </thead>
        <tbody>
            {% for analyst in analysts_data %}
            <tr class="{% if analyst.grey_out %}text-muted{% endif %}">
                <td>{{ analyst.analyst_name }}</td>
                <td>{{ analyst.bank }}</td>
                <td>${{ analyst.price_target | round(2) if analyst.price_target is not none else 'N/A' }}</td>
                <td>{{ analyst.last_update.strftime('%Y-%m-%d') }}</td>
                <td>{{ analyst.expected_return | round(2) if analyst.expected_return is not none else 'N/A' }}%</td>
                <td>{{ analyst.overall_success_rate | round(2) }}%</td>
                <td class="{% if analyst.updated_last_30_days == 'Yes' %}bg-success text-white{% endif %}">{{ analyst.updated_last_30_days }}</td>
                <td class="{% if analyst.is_top_performer == 'Yes' %}bg-success text-white{% endif %}">{{ analyst.is_top_performer }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
