{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">Weekly Newsletters</h1>

    <div class="row">
        {% if is_member %}
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ url_for('view_newsletter', date='2024-09-01') }}">Newsletter #1 - Week of Sept 1st</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('view_newsletter', date='2024-09-08') }}">Newsletter #2 - Week of Sept 8th</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ url_for('view_newsletter', date='2024-09-15') }}">Newsletter #3 - Week of Sept 15th</a>
                </li>
            </ul>
        {% else %}
            <div class="overlay">
                <div class="overlay-content">
                    <p>You need to become a member to be able to read the weekly newsletters.</p>
                    <a href="{{ url_for('membership_pro') }}" class="btn btn-dark">Join the Club</a>
                </div>
            </div>
        {% endif %}
    </div>
    <p></p>
</div>
{% endblock %}
