{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Left column: List of all updates -->
        <div class="col-md-3">
            <h4>All Updates</h4>
            <ul class="list-group">
                {% for update in updates %}
                <li class="list-group-item">
                    <a href="{{ url_for('update', date=update.date) }}">{{ update.date }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Right column: Latest update content -->
        <div class="col-md-9">
            <h1>{{ latest_update.title }}</h1>
            <p>{{ latest_update.date }}</p>
            <div class="mt-4">
                {{ latest_update.content | safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
